<div id="new-invitation-modal-<%= team.id %>" class="ui small modal" style="padding: 4em;">
  <h1>Send invitation</h1>
  <%= form_for Invitation.new, url: invitations_send_invitation_email_path, html: {class: "ui form"}  do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.hidden_field :team_id, value: team.id %>
    </div>
    <%= f.submit "submit", class: "button ui" %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.ui.modal').modal();
    $(".create-invitation").click(function(e) {
      e.preventDefault();
      console.log(this.id);
      $('#new-invitation-modal-'+$(this).attr("id")).modal('show');
    });
  });
</script>
<h2><%= link_to team.name, "http://#{request.host}:3000/#{team.name}/rooms/general"%><span style="margin-left:2%;font-size: 0.6em;">Admin:<%= "  #{team.user.email}" %></span><span><a id="<%= team.id%>" style="color: darkred;font-size:0.6em;" href="" class="create-invitation"> - Send Invitation</a></span></h2>