<!DOCTYPE html>
<html>
  <head>
    <title>Rslack</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% if @chat_room %>
      <div id="new-room-modal" class="ui small modal" style="padding: 4em;">
        <h1>Create new room</h1>
        <%= form_for Room.new, url: rooms_create_room_path, html: {class: "ui form"}  do |f| %>
          <div class="field">
            <%= f.text_field :name, placeholder: "Name of room" %>
            <%= f.hidden_field :team_id, value: @team.id %>
          </div>
          <%= f.submit "submit", class: "button ui" %>
        <% end %>
      </div>
    <% end %>
    <div id="new-team-modal" class="ui small modal" style="padding: 4em;">
      <h1>Create new team</h1>
      <%= form_for Team.new, url: teams_create_team_path, html: {class: "ui form"}  do |f| %>
        <div class="field">
          <label>Name</label>
          <%= f.text_field :name, placeholder: "Name of team" %>
        </div>
        <%= f.submit "submit", class: "button ui" %>
      <% end %>
    </div>
      <div class="ui menu">
        <% if !@chat_room %>
          <div class="item borderless left">
            <a href="/"><%= image_tag 'logo.png', style: 'width:30%;'%></a>
          </div>
        <% else %>
        <div class="item">
            <h3 class="header" style="margin-left: 220px;"><%= "# #{@room.name}"%></h3>
        </div>
        <% end %>
        <% if current_user %>
        <div class="item right" style="width: 12%;">
          <div class="ui inline dropdown">
              <i class="icon ui user"></i><%= current_user.username %>
              <i class="dropdown icon"></i>
              <div class="menu inverted">
                <div class="item">
                  <%= link_to raw("<i class='ui icon power'></i>")+"Sign Out", destroy_user_session_path, method: :delete, class: "inverted" %>
                </div>
                <div class="item">
                  <%= link_to raw("<i class='ui icon tags'></i>")+"My teams", home_welcome_path %>
                </div>
                <div class="item">
                  <a id="create-team" href=""><i class='ui icon add square'></i>Create team</a>
                </div>
              </div>
          </div>
        </div>
          <% end %>
      </div>
    <div class="ui grid">
      <div class="three wide column">
        <% if @chat_room %>
          <div class="ui sidebar inverted visible vertical menu red">
            <div class="item">
              <div class="ui inline dropdown inverted">
                <div class="text">
                 <h3 style="font-weight: bold;"><%= @team.name %></h3>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu inverted fluid">
                  <div class="item">
                    sjdbaH
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <ul class="rooms_list_ul">
                <li><h2>ROOMS<span style="margin-left: 8%;"><a id="create-room" href="" style="padding-left:0.3em;padding-right:0.3em;cursor:pointer;font-weight:bold;border: 3px solid white;border-radius: 100px;">+</a></span></h2></li>
                <%= render @rooms %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div class="twelve wide column">
        <% if alert %>
          <p class="ui negative message"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <div class="one wide column">
      </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
        $('.ui.modal').modal();
        $("#create-room").click(function(e) {
          e.preventDefault();
          console.log("clicked");
          $('#new-room-modal').modal('show');
        });
        $("#create-team").click(function(e) {
          e.preventDefault();
          console.log("clicked");
          $('#new-team-modal').modal('show');
        });
      });
    </script>
  </body>
</html>
