<!DOCTYPE html>
<html>
  <head>
    <title>Rslack</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="ui grid">
      <div class="three wide column">
        <div class="ui sidebar inverted visible vertical menu red">
        </div>
      </div>
      <div class="twelve wide column">
        <%= yield %>
      </div>
      <div class="one wide column">

      </div>
    </div>
  </body>
</html>
